[VRCOSCBPM]

ip = 127.0.0.1
# Where to send OSC data

port = 9000                                         
# What port to send OSC data on

avatar_parameter_path = /avatar/parameters/BPM
# Number by which the BPM will be divided by, in order to generate a float value

animation_bpm = 240                                  
# Number by which the BPM will be divided by, in order to generate a float value

refresh_rate = 1
# how often (in seconds) to check the currently playing track's BPM